@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0053 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}

figure.snip0053 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip0053 > img {
  width: 100%;
}

figure.snip0053 figcaption {
  padding: 20px 30px 20px 25%;
  position: relative;
}

figure.snip0053 figcaption h2,
figure.snip0053 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  right: 0;
  width: 100%;
}

figure.snip0053 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0053 figcaption h2 span {
  font-weight: 800;
}

figure.snip0053 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}

figure.snip0053 figcaption .icons {
  width: 100%;
  text-align: right;
}

figure.snip0053 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}

figure.snip0053 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip0053 figcaption a:hover {
  opacity: 0.8;
}

figure.snip0053 .position {
  width: 100%;
  text-align: right;
  padding: 8px 30px 13px;
  font-size: 0.8em;
  opacity: 0.8;
  font-style: italic;
}
figure.snip0053:after {
  position: absolute;
  top: 0;
  left: -20%;
  height: 110%;
  width: 30%;
  background-color: #000000;
  content: '';
  border-right: 4px solid #666666;
  transform: skewX(-7deg) translateX(0);
  backface-visibility: hidden;
  transition: transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


figure.snip0053.blue:after {
  background-color: #1b557a;
  border-right: 4px solid #2472a4;
}

figure.snip0053.red:after {
  background-color: #81261d;
  border-right: 4px solid #ab3326;
}

figure.snip0053.yellow:after {
  background-color: #a85913;
  border-right: 4px solid #d67118;
}

figure.snip0053.green:after {
  background-color: #19703e;
  border-right: 4px solid #229955;
}

figure.snip0053:hover:after,
figure.snip0053.hover:after {
  -webkit-transform: skewX(-7deg) translateX(10px);
  transform: skewX(-7deg) translateX(10px);
}

/* Demo purposes only */
html {
  height: 100%;
}
body {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    height: 100%; 
  
   
   
}